img/
data/data.csv
data/report_2022_12_8__2023_1_1.csv
data/forecasting-report.txt
data/forecasting-report-prophet-sarima.txt
data/data_nn.csv
data/data_nn_scaler.csv
data/data_nn_scaler_test.csv
data/data_nn_scaler_train.csv
data/predictions.csv
source/.idea/workspace.xml
